{% load static %}

{% if gantt_chart_html %}
    {{ gantt_chart_html|safe}}
{% else %}

    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-33">
                        <img src="{% static 'images/navbar/ABN Logo.png' %}" class="float-start" alt=""
                            style="border-radius: 25%;">
                    </div>
                    <div class="col-sm-58">
                        <h1 class="display-4">No Methods in Queue</h1>
                        <p>Cannot show a Gantt chart without methods in the queue. Please queue a method first.</p>
                        <p><a class="btn btn-primary btn-lg" href="{% url 'queue_method' %}" role="button">Queue Method
                                &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endif %}
