{% extends 'base.html' %}
{% block css %}
<style>
    .upload-container {
        position: relative;
    }

    .upload-container input {
        border: 1px solid #92b0b3;
        background: #f1f1f1;
        outline: 2px dashed #92b0b3;
        outline-offset: -10px;
        padding: 100px 0px 100px 250px;
        text-align: center !important;
        width: 100%;
    }

    .upload-container input:hover {
        background: #ddd;
    }

    .upload-container:before {
        position: absolute;
        bottom: 50px;
        left: 245px;
        content: " (or) Drag and Drop files here. ";
        color: #3f8188;
        font-weight: 900;
    }
</style>
{% endblock %}

{% block content %}
<script>
    document.getElementById("navbar-dropdown-scheduler").classList.add("active")
    document.getElementById("navbar-dropdown-scheduler-queue-method").classList.add("active")
</script>


<div class="container">
    <div class="jumbotron">

        <div class="container">
            <div class="row justify-content-center">
                <h1 class="display-3">Queue Method</h1>
            </div>
            <hr>
            <div class="row justify-content-center">
                <p>Please ensure that your method has been tested first. If your method does not pass testing then it
                    will be removed from the queue without warning. To test, please click the button: <a
                        class="btn btn-secondary btn-sm" href="{% url 'queue_method' %}" role="button">Test Method</a>
                </p>
            </div>
            <hr>
            <form method="post">{% csrf_token %}
                <div class="form-group row">
                    <label for="input-emails" class="col-md-2 col-form-label">Emails</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" id="input-emails" name="input-emails" multiple="true"
                            placeholder="Comma delimited list of emails. Ex. Email1@pfizer.com, Email2@gmail.com"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input-phone-numbers" class="col-sm-2 col-form-label">Phone Numbers</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="input-phone-numbers" name="input-phone-numbers"
                            placeholder="Comma delimited list of phone numbers. Ex. 1234567890, 123-456-7890" required>
                    </div>
                </div>
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Method State</legend>
                    <div class="col-sm-10">
                        <select class="form-control" id="input-method-state" name="input-method-state">
                            <option>Start from beginning</option>
                            <option>Resume from latest step</option>
                            <option>Repeat latest step</option>
                        </select>
                    </div>
                </div>
                <hr style="visibility: hidden;">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Method File</legend>
                    <div class="col-sm-10">
                        <div class="upload-container">
                            <input type="file" class="form-control-file" id="input-method-file" name="input-method-file"
                                required>
                        </div>
                    </div>
                </div>
                <hr style="visibility: hidden;">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}