{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- JS -->

    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.1.12.9.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/htmx.2.0.1.js' %}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap_custom.css' %}">

    <style>
        body {
            padding-top: 90px;
        }
    </style>

    {% block css %}{% endblock %}





    <title>{% block title %}Automation Bare Necessities{% endblock %}</title>

</head>

<body>

    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    {% block abn_independant_content %}

    {% if abn_state != "run" %}

    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-33">
                        <img src="{% static 'images/navbar/ABN-cartoon.png' %}" class="float-start" alt=""
                            style="border-radius: 25%;">
                    </div>
                    <div class="col-sm-58">
                        <h1 class="display-4">ABN is Not Running</h1>
                        <hr style="visibility: hidden;">
                        <p><a class="btn btn-primary btn-lg" href="{% url 'abn:index' %}" role="button">Go Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    {% block abn_dependant_content %}

    {% endblock %}

    {% endif %}

    {% endblock %}




</body>

</html>