{% load static %}
<a class="navbar-brand" href="{% url 'abn:index' %}" hx-get="{% url 'abn:brand' %}" hx-swap="outerHTML"
    hx-trigger="every 1s">
    {% if abn_state == "stop" %}
    <img src="{% static 'images/navbar/abn-persimmon.png' %}" width="65" height="65" alt="" style="border-radius: 25%;">
    {% elif abn_state == "start" %}
    <img src="{% static 'images/navbar/abn-spectrayellow.png' %}" width="65" height="65" alt=""
        style="border-radius: 25%;">
    {% elif abn_state == "run" %}
    <img src="{% static 'images/navbar/abn-sharpgreen.png' %}" width="65" height="65" alt=""
        style="border-radius: 25%;">
    {% else %}
    ERROR
    {% endif %}
</a>