{% extends 'base.html' %}
{% load static %}
{% block abn_independant_content %}
<script>
    document.getElementById("navbar-trace").classList.add("active")
</script>
<div class="container-lg">
    <div class="jumbotron">

        <!---
        <div class="row justify-content-center">
            <h1 class="display-3">Automation Bare Necessities Trace</h1>
        </div>

        <hr>

        <div class="row justify-content-center">
            <p style="font-size: larger;">This is the full trace from ABN. It includes logging information from all
                currently executing methods
                and user actions.
            </p>
        </div>

        <hr>
        --->
        <form hx-post="{% url 'trace:index_body' %}"
            hx-trigger="click from:#button-update-trace, input keyup, select change" hx-target="#trace-body"
            hx-swap="outerHTML"> {% csrf_token %}
            <div class="row">
                <div class="col-10">
                    <div class="row" style="margin-left: 0%;">
                        <h5>Timestamp</h5>
                    </div>
                </div>

                <div class="col-4">
                    <div class="row">
                        <h5>Source</h5>

                    </div>
                    <div class="row">
                        <select class="form-select" style="height: 28px;" name="input-log-source">
                            <option value="ALL" selected>ALL</option>
                            <option value="ABN">ABN</option>
                            <option value="PLH">PLH</option>
                        </select>
                    </div>
                </div>

                <div class="col-6">
                    <div class="row">
                        <h5>Log Level</h5>

                    </div>
                    <div class="row">
                        <select class="form-select" style="height: 28px;" name="input-log-level">
                            <option value="DEBUG" selected>DEBUG</option>
                            <option value="INFO">INFO</option>
                            <option value="WARNING">WARNING</option>
                            <option value="CRITICAL">CRITICAL</option>
                            <option value="ERROR">ERROR</option>
                        </select>
                    </div>
                </div>

                <div class="col-35">
                    <div class="row">
                        <h5>Extra Meta Information</h5>

                    </div>
                    <div class="row">
                        <input type="text" style="width: 90%;" name="input-extra-info"></input>
                    </div>
                </div>

                <div class="col-45">
                    <div class="row">
                        <h5>Debug Message</h5>

                    </div>
                    <div class="row">
                        <input type="text" style="width: 90%;" name="input-debug-message"></input>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: 5px;">
                <a id="button-update-trace" class="btn btn-primary btn-lg btn-block" href="" role="button">Update
                    Trace &raquo;</a>
            </div>
            <div class="row">
                <div class="table-responsive table-dark" style="height: 500px;" id="trace-container">
                    <table class="table table-bordered table-striped table-sm table-dark table-hover"
                        style="table-layout: fixed;" id="trace-table">
                        <colgroup>
                            <col style="width: 10%;">
                            <col style="width: 4%;">
                            <col style="width: 6%;">
                            <col style="width: 35%;">
                            <col style="width: 45%;">
                        </colgroup>

                        {% include 'trace/index_body.html' %}

                    </table>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    trace_container = document.getElementById("trace-container")
    trace_container.scrollTop = trace_container.scrollHeight
</script>

{% endblock %}