<tbody id="trace-body">
    {% for row in rows %}

    {% if row.2 == "DEBUG" %}
    <tr style="height: 0px; color: rgb(128, 128, 128);">
        {%elif row.2 == "INFO" %}
    <tr style="height: 0px; color: rgb(157, 216, 255);">
        {%elif row.2 == "WARNING" %}
    <tr style="height: 0px; color: rgb(244, 255, 84);">
        {%elif row.2 == "CRITICAL" %}
    <tr style="height: 0px; color: rgb(255, 76, 106);">
        {%elif row.2 == "ERROR" %}
    <tr style="height: 0px; color: rgb(255, 0, 21);">

        {% endif %}

        {% for column in row %}
        <td style="word-wrap:break-word; white-space: pre;">{{ column }} </td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>