{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/file_input.css' %}">
{% endblock %}
{% block abn_dependant_content %}
<script>
    document.getElementById("navbar-dropdown-method").classList.add("active")
    document.getElementById("navbar-dropdown-method-test").classList.add("active")
</script>
<div class="container">
    <div class="jumbotron" id="test-body">

        {% include 'method/test_progress_body.html' %}

    </div>
</div>




{% endblock %}