{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/file_input.css' %}">
{% endblock %}
{% block content %}
<script>
    document.getElementById("navbar-dropdown-scheduler").classList.add("active")
    document.getElementById("navbar-dropdown-scheduler-test-method").classList.add("active")
</script>
<div class="container-lg">
    <div class="jumbotron">
        <div class="row justify-content-center">
            <h1 class="display-3">Automation Bare Necessities Trace</h1>
        </div>
        <hr>
        <div class="row justify-content-center">
            <p>This is the full trace from ABN. It includes logging information from all currently executing methods
                and user actions. To view a method specific trace...
            </p>
        </div>
        <hr>
        <div class="row">
            <div class="table-responsive" style="height: 500px;" id="trace-container">
                <table class="table table-bordered table-striped table-sm table-dark table-hover">
                    <colgroup>
                        <col style="width: 5%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 65%;">
                    </colgroup>
                    <tbody>
                        {% for i in rows %}
                        <tr style="height: 0px;">
                            {% for j in i %}
                            <td style="width: 50px;">{{ j }} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<script>
    trace_container = document.getElementById("trace-container")
    trace_container.scrollTop = trace_container.scrollHeight
</script>

{% endblock %}