{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- JS -->

    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.1.12.9.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/htmx.2.0.1.js' %}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap_custom.css' %}">

    {% block css %}{% endblock %}




    <title>{% block title %}Automation Bare Necessities{% endblock %}</title>

</head>

<body>

    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    {% block content %}
    {% endblock %}
    <!-- /container -->



</body>

</html>