{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
        {% if abn_state == "stop" %}
        <img src="{% static 'images/navbar/abn-persimmon.png' %}" width="65" height="65" alt=""
            style="border-radius: 25%;">
        {% elif abn_state == "standby" %}
        <img src="{% static 'images/navbar/abn-spectrayellow.png' %}" width="65" height="65" alt=""
            style="border-radius: 25%;">
        {% elif abn_state == "run" %}
        <img src="{% static 'images/navbar/abn-sharpgreen.png' %}" width="65" height="65" alt=""
            style="border-radius: 25%;">
        {% else %}
        ERROR
        {% endif %}
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="font-size: 22.5px" id="navbar-home">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown" style="font-size: 22.5px">
                <a class="nav-link dropdown-toggle" href="" id="navbar-dropdown-scheduler" role="button"
                    data-toggle="dropdown">
                    Scheduler
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="navbar-dropdown-scheduler-gantt-chart"
                        href="{% url 'scheduler:index' %}">Gantt Chart</a>
                    <a class="dropdown-item" id="navbar-dropdown-scheduler-queue"
                        href="{% url 'scheduler:queue' %}">Queue</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="navbar-dropdown-scheduler-config"
                        href="{% url 'config_admin:index' %}">Config</a>
                </div>
            </li>
            <li class="nav-item dropdown" style="font-size: 22.5px">
                <a class="nav-link dropdown-toggle" href="" id="navbar-dropdown-method" role="button"
                    data-toggle="dropdown">
                    Method
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="navbar-dropdown-method-templates" href="">Templates</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="navbar-dropdown-method-test" href="{% url 'method:test' %}">Test</a>
                </div>
            </li>

            <li class="nav-item dropdown" style="font-size: 22.5px">
                <a class="nav-link dropdown-toggle" href="" id="navbar-dropdown-deck" role="button"
                    data-toggle="dropdown">
                    Deck
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="navbar-dropdown-deck-visualization" href="">Visualization</a>
                    <a class="dropdown-item" id="navbar-dropdown-deck-loading" href="">Loading</a>

                </div>
            </li>
            <li class="nav-item" style="font-size: 22.5px" id="navbar-notifications">
                <a class="nav-link" href="">Notifications</a>
            </li>
            <li class="nav-item" style="font-size: 22.5px" id="navbar-trace">
                <a class="nav-link" href="{% url 'trace:index' %}">Trace</a>
            </li>

        </ul>
    </div>
</nav>