{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/navbar/ABN Logo Gianna.png' %}" width="75" height="65" alt=""
            style="border-radius: 25%;">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" style="font-size: 22.5px">
                <a class="nav-link dropdown-toggle" href="" id="navbar-dropdown-scheduler" role="button"
                    data-toggle="dropdown">
                    Scheduler
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="navbar-dropdown-scheduler-gantt-chart"
                        href="{% url 'gantt_chart' %}">Gantt Chart</a>
                    <a class="dropdown-item" id="navbar-dropdown-scheduler-method-queue"
                        href="{% url 'method_queue' %}">Method Queue</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="navbar-dropdown-scheduler-queue-method"
                        href="{% url 'queue_method' %}">Queue Method</a>
                </div>
            </li>
            <li class="nav-item dropdown" style="font-size: 22.5px">
                <a class="nav-link dropdown-toggle" href="" id="navbar-dropdown-method" role="button"
                    data-toggle="dropdown">
                    Method
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="navbar-dropdown-method-method-list" href="">Method List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="navbar-dropdown-method-test-method" href="{% url 'test_method' %}">Test
                        Method</a>
                </div>
            </li>
            <li class="nav-item dropdown" style="font-size: 22.5px">
                <a class="nav-link dropdown-toggle" href="" id="navbar-dropdown-deck" role="button"
                    data-toggle="dropdown">
                    Deck
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="navbar-dropdown-deck-visualization" href="">Visualization</a>
                    <a class="dropdown-item" id="navbar-dropdown-deck-method-positions" href="">Method Positions</a>
                </div>
            </li>
            <li class="nav-item dropdown" style="font-size: 22.5px">
                <a class="nav-link dropdown-toggle" href="" id="navbar-dropdown-shortcuts" role="button"
                    data-toggle="dropdown">
                    Shortcuts
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="navbar-dropdown-shortcuts-deck-loading" href="">Deck Loading</a>
                    <a class="dropdown-item" id="navbar-dropdown-shortcuts-notifications" href="">Notifications</a>
                </div>
            </li>
            <li class="nav-item" style="font-size: 22.5px" id="navbar-debug">
                <a class="nav-link" href="{% url 'trace' %}">Debug</a>
            </li>
            <li class="nav-item" style="font-size: 22.5px" id="navbar-admin">
                <a class="nav-link" href="{% url 'config_admin:index' %}">Config</a>
            </li>
            <li class="nav-item" style="font-size: 22.5px" id="navbar-admin">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item" style="font-size: 22.5px" id="navbar-help">
                <a class="nav-link" href="">Help</a>
            </li>
        </ul>
    </div>
</nav>