{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>
    document.getElementById("navbar-dropdown-scheduler").classList.add("active")
    document.getElementById("navbar-dropdown-scheduler-gantt-chart").classList.add("active")
</script>

<a class="btn btn-primary btn-lg btn-block" href="" hx-target="#container-gantt"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-post="{% url 'gantt_chart' %}" hx-swap="innerHTML"
    role="button">Reload
    Gantt Chart &raquo; </a>

<div id="container-gantt">
    {% include 'scheduler/gantt_chart/content.html' %}
</div>

{% endblock %}