{% load static %}

{% if gantt_chart_html %}
{{ gantt_chart_html|safe}}
{% else %}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-33">
                    <img src="{% static 'images/navbar/ABN-cartoon.png' %}" class="float-start" alt=""
                        style="border-radius: 25%;">
                </div>
                <div class="col-sm-58">
                    <h1 class="display-4">No Methods in Queue</h1>
                    <hr style="visibility: hidden;">
                    <p><a class="btn btn-primary btn-lg" href="{% url 'scheduler:queue_method' %}" role="button">Queue
                            Method</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %}