<div class="row justify-content-center">
    <h1 class="display-6" style="font-size: x-large">
        Control Buttons
    </h1>
</div>

<div class="row justify-content-center">


    <div class="col-20">
        {% if notifications_pending and state != "aborted" and state != "complete" %}
        <a class="btn btn-info btn-sm" href="" style="width: 180px; font-size: large;" role="button">
            Notifications
        </a>
        {% endif %}
    </div>


    <div class="col-20">
        {% if state == "paused" or state == "waiting on user" %}
        <a class="btn btn-primary btn-sm" href="{% url 'scheduler:queue_method_dashboard_edit' filename=filename %}"
            style="width: 180px; font-size: large;" role="button">Edit
            Method</a>
        {% endif %}
    </div>



    <div class="col-20">
        {% if state == "paused" %}
        <a class="btn btn-success btn-sm" href="" hx-target="#dashboard-body" hx-swap="outerHTML"
            hx-get="{% url 'scheduler:queue_method_dashboard_resume' filename=filename %}"
            style="width: 180px; font-size: large;" role="button">Resume
            Execution</a>
        {% elif state == "running" %}
        <a class="btn btn-warning btn-sm" href="" hx-target="#dashboard-body" hx-swap="outerHTML"
            hx-get="{% url 'scheduler:queue_method_dashboard_pause' filename=filename %}"
            style="width: 180px; font-size: large;" role="button">Pause
            Execution</a>
        {% elif state == "complete" or state == "aborted" %}
        <a class="btn btn-primary btn-sm" href="" hx-target="#dashboard-body" hx-swap="outerHTML"
            hx-get="{% url 'scheduler:queue_method_dashboard_cleanup' filename=filename %}"
            style="width: 180px; font-size: large;" role="button">Start
            Cleanup</a>
        {% elif state == "cleanup"%}
        <br>
        {% endif %}
    </div>

    <div class="col-20">
        {% if state == "paused" or state == "reading" or state == "waiting on user" %}
        <a class="btn btn-danger btn-sm" href="{% url 'scheduler:queue_method_dashboard_abort' filename=filename %}"
            style="width: 180px; font-size: large;" role="button">Abort
            Execution</a>
        {% endif %}
    </div>

    <div class="col-20">
        {% if deck_loading_pending and state != "aborted" and state != "complete" %}
        <a class="btn btn-info btn-sm" href="" style="width: 180px; font-size: large;" role="button">
            {% if state == "cleanup" %}
            Deck Unloading
            {% else %}
            Deck Loading
            {% endif %}</a>
        {% endif %}
    </div>

</div>