<div class="row justify-content-center">
    <h1 class="display-6" style="font-size: x-large">
        Control Buttons
    </h1>
</div>

<div class="row justify-content-center">
    {% if state != "complete" and state != "aborted" %}
    <div class="col-20">
        {% if state == "notification" %}
        <a class="btn btn-info btn-sm" href="" style="width: 180px; font-size: large;" role="button">
            Notifications
        </a>
        {% endif %}
    </div>

    <div class="col-20">
        <a class="btn btn-primary btn-sm" href="" style="width: 180px; font-size: large;" role="button">Edit
            Method</a>
    </div>


    <div class="col-20">
        {% if state == "running" or state == "paused" %}
        {% if state == "paused" %}
        <a class="btn btn-success btn-sm" href="" style="width: 180px; font-size: large;" role="button">Resume
            Execution</a>
        {% else %}
        <a class="btn btn-warning btn-sm" href="" style="width: 180px; font-size: large;" role="button">Pause
            Execution</a>
        {% endif %}
        {% endif %}
    </div>

    <div class="col-20">
        {% if state == "paused" or state == "in queue" %}
        <a class="btn btn-danger btn-sm" href="" style="width: 180px; font-size: large;" role="button">Abort
            Execution</a>
        {% endif %}
    </div>
    <div class="col-20">
        {% if state == "deck loading" %}
        <a class="btn btn-info btn-sm" href="" style="width: 180px; font-size: large;" role="button">Deck
            Loading</a>
        {% endif %}
    </div>
    {% elif state == "complete" or state == "aborted" %}
    <div class="col">
        <div class="row justify-content-center">
            <a class="btn btn-primary btn-sm" href="" style="width: 180px; font-size: large;" role="button">Start
                Cleanup</a>
        </div>
        {% if state == "aborted" %}
        <br>
        <div class="row justify-content-center">
            <a class="btn btn-primary btn-sm" href="" style="width: 180px; font-size: large;" role="button">I Changed My
                Mind</a>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>