<div class="row justify-content-center">
    <h1 class="display-6" style="font-size: x-large">
        Status
    </h1>
</div>

<div class="row justify-content-center">
    {% if state == "reading" %}
    <div class="btn btn-success btn-sm" style="width: 200px; font-size: large;" role="button">
        Reading</div>
    {% elif state == "running" %}
    <div class="btn btn-success btn-sm" style="width: 200px; font-size: large;" role="button">
        Running</div>
    {% elif state == "paused" %}
    <div class="btn btn-warning btn-sm" style="width: 200px; font-size: large;" role="button">
        Paused</div>
    {% elif state == "waiting on user" %}
    <div class="btn btn-warning btn-sm" style="width: 200px; font-size: large;" role="button">
        Waiting on User</div>
    {% elif state == "complete" %}
    <div class="btn btn-success btn-sm" style="width: 200px; font-size: large;" role="button">
        Execution Complete</div>
    {% elif state == "aborted" %}
    <div class="btn btn-danger btn-sm" style="width: 200px; font-size: large;" role="button">
        Execution Aborted</div>
    {% elif state == "cleanup" %}
    <div class="btn btn-success btn-sm" style="width: 200px; font-size: large;" role="button">
        Method Cleanup</div>
    {% endif %}
</div>
<div class="row justify-content-center" style="margin-top: 10px;">
    <div class="col-20">
        {% if notifications_pending and state != "aborted" and state != "complete" %}
        <div class="btn btn-danger btn-sm" style=" font-size: large;" role="button">
            Notifications Pending
        </div>
        {% endif %}

    </div>
    <div class="col-3"></div>
    <div class="col-20">
        {% if deck_loading_pending and state != "aborted" and state != "complete" %}
        <div class="btn btn-danger btn-sm" style=" font-size: large;" role="button">
            {% if state == "cleanup" %}
            Deck Unloading Pending
            {% else %}
            Deck Loading Pending
            {% endif %}
        </div>
        {% endif %}

    </div>
</div>