{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="jumbotron">

        <div class="container">
            <div class="row justify-content-center">
                <h1 class="display-3">Queue Method</h1>
            </div>
            <hr>
            <div class="row justify-content-center">
                <p class="text-danger" style="font-size: xx-large;">Error!</p>
            </div>
            <div class="row justify-content-center">
                <p class="text-danger" style="font-size: larger;">Method already exists in the queue. Please view the
                    queue.</p>
            </div>
            <div class="row justify-content-center">
                <p class="text-danger" style="font-size: larger;">Remove the method if it should not be queued, or
                    continue with deck loading / execution. </p>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-primary btn-lg" href="{% url 'scheduler:queue' %}" role="button">View Queue</a>
            </div>


        </div>
    </div>
</div>


{% endblock %}