{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/file_input.css' %}">
{% endblock %}
{% block content %}
<script>
    document.getElementById("navbar-dropdown-scheduler").classList.add("active")
    document.getElementById("navbar-dropdown-scheduler-queue").classList.add("active")
</script>

<div class="container">
    <div class="jumbotron">

        <div class="container">
            <div class="row justify-content-center">
                <h1 class="display-3">Queue Method</h1>
            </div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-10"></div>
                <div class="col-80">
                    <p style="font-size: larger;">Please ensure that your method has been tested. If your method does
                        not pass testing then
                        it will be removed from the queue without warning.
                        <a class="btn btn-primary btn-sm" href="{% url 'method:test' %}" role="button">Test
                            Method</a>
                    </p>
                </div>
                <div class="col-10"></div>
            </div>
            <hr>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group row">
                    <label for="input-emails" class="col-15 col-form-label">Emails</label>
                    <div class="col-85">
                        <input type="email" class="form-control" id="input-emails" name="input-emails" multiple="true"
                            placeholder="Comma delimited list of emails. Ex. Email1@pfizer.com, Email2@gmail.com"
                            required>
                        <small id="input-emails-help" class="form-text text-muted">
                            You must enter at least one email.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input-phone-numbers" class="col-15 col-form-label">Phone Numbers</label>
                    <div class="col-85">
                        <input type="tel" class="form-control" id="input-phone-numbers" name="input-phone-numbers"
                            placeholder="Comma delimited list of phone numbers. Ex. 1234567890, 123-456-7890">
                        <small id="input-phone-numbers-help" class="form-text text-muted">
                            Phone numbers are optional.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input-completion-time" class="col-15 col-form-label">Completion Time</label>
                    <div class="col-85">
                        <input type="datetime-local" class="form-control" id="input-completion-time"
                            name="input-completion-time" placeholder="" required>
                        <small id="input-completion-time-help" class="form-text text-muted">
                            ABN will attempt to complete the method near the completion time. If not possible, ABN
                            will complete as soon as possible.
                        </small>
                    </div>
                </div>


                <hr style="visibility: hidden;">

                <div class="row">
                    <legend class="col-form-label col-15 pt-0">Method File</legend>
                    <div class="col-85">
                        {% include 'file_input.html' %}
                    </div>
                </div>
                <hr style="visibility: hidden;">
                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


{% endblock %}