<div class="row justify-content-center">
    <h1 class="display-6" style="font-size: x-large">
        Status
    </h1>
</div>

<div class="row justify-content-center">
    {% if state != "complete" and state != "aborted" %}

    {% if state == "in queue" %}
    <div class="btn btn-success btn-sm" style="width: 200px; font-size: large;" role="button">
        In Queue</div>
    {% elif state == "running" %}
    <div class="btn btn-success btn-sm" style="width: 200px; font-size: large;" role="button">
        Running</div>
    {% elif state == "paused" %}
    <div class="btn btn-warning btn-sm" style="width: 200px; font-size: large;" role="button">
        Paused</div>
    {% elif state == "notifications" %}
    <div class="btn btn-danger btn-sm" style="width: 200px; font-size: large;" role="button">
        Notifications Pending
    </div>
    {% elif state == "deck loading" %}
    <div class="btn btn-danger btn-sm" style="width: 200px; font-size: large;" role="button">Deck
        Loading Pending</div>
    {% endif %}

    {% elif state == "complete" %}
    <div class="btn btn-success btn-sm" style="width: 200px; font-size: large;" role="button">
        Execution Complete</div>
    {% elif state == "aborted" %}
    <div class="btn btn-danger btn-sm" style="width: 200px; font-size: large;" role="button">
        Execution Aborted</div>
    {% endif %}
</div>